@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body {
	margin: 0;
	font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/* .align-right {
	text-align: right !important;
} */
.navbar {
	background-color: black !important;
}
.nav-link {
	color: white !important;
}
.navbar-brand {
	color: white !important;
}
.smallimg {
	height: 200px;
	max-width: 100% !important;
	border-radius: 5px !important;
}
.bigimg {
	height: 400px;
	max-width: 100% !important;
	border-radius: 5px !important;
}
p {
	font-weight: 400 !important;
	margin-top: 8px;
	margin-bottom: 8px;
}
.dropdown-toggle {
	border: none !important;
}
.modal-desc {
	padding: 1.2rem;
	color: black;
	font-size: 1.2rem;
}
h1 {
	font-size: 20px !important;
	font-weight: 600 !important;
	color: rgba(32, 11, 11, 0.815) !important;
	margin-top: 10px !important;
	margin-bottom: 20px !important;
}
.btn {
	background-color: black !important;
	color: white !important;
	box-shadow: none !important;
	/* margin-top: 1rem !important; */
}
.bs {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	margin-top: 20px !important;
	border-radius: 5px !important;
	padding: 30px !important;
}
input {
	box-shadow: none !important;
	margin-top: 10px !important;
	border: 1px solid black !important;
}
h2 {
	font-size: 30px !important;
	text-align: center !important;
	padding: 10px !important;
	font-weight: bold !important;
	margin-top: 10px !important;
	margin-bottom: 20px !importants;
}
